<nav class="navbar-container">
    <a class="navbar-action" routerLink="/">
        <img class="navbar-logo" src="assets/images/logo192.png" alt="VSS logo" />
    </a>
    
    <div class="navbar-search" [class.show]="showSearch">
        <input 
            type="text" 
            [(ngModel)]="searchTerm"
            (keyup.enter)="onSearch()"
            placeholder="Search products..."
            class="search-input"
        >
        <button (click)="onSearch()" class="search-submit-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    
    <div class="navbar-action">
        <button (click)="onSearchToggle()" class="search-toggle-btn remove">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <app-cart-icon></app-cart-icon>
        <a class="navbar-action remove" routerLink="/products">
            <i class="fa-solid fa-list"></i>
        </a>
    </div>
</nav>