<nav class="navbar-container">
    <a class="navbar-action" routerLink="/">
        <img class="navbar-logo" src="assets/images/logo192.png" alt="VSS logo" />
    </a>
    <div class="navbar-action">
        <button for="navbar-search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="navbar-action">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <button class="navbar-action">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</nav>