.shopping-cart-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap04);
  max-width: var(--width-page);
  padding: var(--gap01) var(--gap02);
  margin: auto;
}

.shopping-cart-header-title {
  font-size: var(--font-size-h2);
}

.shopping-cart-subtitle {
  font-size: var(--font-size-h3);
}

.shopping-cart-item-name {
  font-size: var(--font-size-text);
}

.shopping-cart-section-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap02);
}

.shopping-cart-icon {
  font-size: 64px;
}

.shopping-cart-item-quantity-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap01);
  align-items: center;
}

.shopping-cart-item {
  display: flex;
  flex-direction: row;
  gap: var(--gap01);
}

.shopping-cart-item-image {
  width: 100px;
  height: 100px;

  img {
    width: inherit;
  }
}

.shopping-cart-items-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap02);
}

.shopping-cart-item-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap00);
  justify-content: space-between;
}

.shopping-cart-item-actions {
  display: flex;
  flex-direction: row;
  gap: var(--gap02);
  align-items: center;
}

.shopping-cart-item-quantity-button {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

.shopping-cart-button {
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  padding: var(--gap00);
  font-weight: bold;
}

.shopping-cart-item-price {
  font-weight: bold;
}