<div class="shopping-cart-container page-container">
  <div class="shopping-cart-header">
    <h1 class="title">Shopping cart</h1>
  </div>

  @if(cartState?.error || orderState?.error) {
  <div class="section-container">
    <div class="big-icon">🐞</div>
    <h2 class="subtitle">Error with the cart</h2>
    <p>{{ cartState?.error || orderState?.error }}</p>
  </div>
  }

  @if (!hasAnyItem) {
  <div class="section-container">
    <div class="big-icon">🛒</div>
    <h2 class="subtitle">Your cart is empty</h2>
    <p>Browse our products and add items to your cart</p>
    <a routerLink="/" class="button-container">Continue Shopping</a>
  </div>
  }
  @else {
    <app-cart-item-list></app-cart-item-list>
  }
</div>