@use 'styles/variables';
@use 'styles/mixins';
@use 'styles/reset-styles';
@import '@fortawesome/fontawesome-free/css/all.css';

* {
    font-family: var(--font-family-text);
}

body {
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--gap01);
}

.form-input-container {
    display: flex;
    gap: var(--gap00);
}

.form-label {
    display: none;
}

.form-icon {
    cursor: pointer;
    width: 22px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input::placeholder {
  opacity: 0.4;
}

.form-input {
    border-bottom: 1px solid black;
    flex-grow: 1;
    width: 0;
}

.bold {
    font-weight: bold;
}

.remove {
    display: none !important;
}

.display {
    display: block;
}

.hide {
    opacity: 0 !important;
}

.show {
    opacity: 100 !important;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap04);
    max-width: var(--width-page);
    padding: var(--gap01) var(--gap02);
    margin: auto;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap01);
}

.button-container {
    border: 2px solid black;
    border-radius: var(--radius-small);
    text-align: center;
    padding: var(--gap00);
    font-weight: bold;
}

.button-container:hover,
.button-container:focus-visible,
.button-container:focus {
    transform: scale(1.01);
}

.title {
    font-size: var(--font-size-h2);
}

.subtitle {
    font-size: var(--font-size-h3);
}

.big-icon {
    font-size: 64px;
}

.markdown-text {
    h2 {
        padding: var(--gap01) 0;
    }

    p,
    br {
        margin: var(--gap00) 0;
    }

    a {
        color: var(--color-text-hover);
    }
}

.markdown-page {
    iframe {
        width: 100%;
        max-width: 560px;
        height: 35vw;
        max-height: 315px;
        margin: var(--gap02) auto;
    }

    h1 {
        padding: var(--gap02) 0;
        padding-bottom: 0;
    }

    h2 {
        padding: var(--gap02) 0;
        padding-top: var(--gap03);
    }

    h3,
    h4 {
        padding: var(--gap02) 0;
    }

    p,
    br {
        margin: var(--gap01) 0;
    }

    a {
        color: var(--color-text-hover);
    }

    ol,
    ul {
        margin-left: var(--gap02);
    }

    li {
        padding: var(--gap00);
    }
}