<div class="order-detail-container page-container">

  @if (orderState?.order) {
  @if (isPending) {
  <div class="section-container">
    <h1 class="title">Something went wrong</h1>
    <p>Your order is still pending. Please contact support at <a class="bold" href="mailto:contact@vss.com">contact&#64;vss.com</a>.</p>
  </div>

  }
  @else {
  <div class="section-container">
    <h1 class="title">Thank you!</h1>
    <p>Thank you for your purchase! Your order has been successfully processed.</p>
  </div>
  }

  <app-order-summary [order]="orderState?.order!"></app-order-summary>
  <app-cart-item-list [isOrder]="true"></app-cart-item-list>

  @if (orderNumber && !isPending) {
  <div class="section-container">
    <h2 class="subtitle">What's Next?</h2>
    <ul>
      <li>You'll receive a confirmation email shortly</li>
      <li>Your order will be processed and shipped within 2-3 weeks</li>
      <li>Contact us if you have any questions about your order</li>
    </ul>
  </div>
  }
  }
  @else {
  <app-order-auth [orderNumber]="orderNumber"></app-order-auth>
  }

  <div class="section-container">
    @if (orderState?.loading) {
    <p>Loading order details...</p>
    }
    @if (orderState?.error) {
    <p><strong>Error</strong>: {{ orderState?.error }}</p>
    }
  </div>
</div>