.product-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap04);
    max-width: var(--width-page);
    padding: var(--gap01) var(--gap02);
    margin: auto;
}

.product-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-navbar-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap00);
}

.product-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap00);
}

.product-options-title,
.product-header-title {
    font-size: var(--font-size-h3);
}

.product-image {
    display: flex;
    flex-direction: column;
    gap: var(--gap01);
}

.product-image-slides-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
}

.product-image-slide {
    width: 100%;
}

.product-image-choices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-image-choice {
    width: 100px;
}

.product-image-choice-content {
    width: 100%;
}

.product-cta-container {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
}

.product-cta-qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap01);
    padding: 0 var(--gap01);
}

.product-cta-input {
    width: 25px;
    text-align: center;
}

.product-cta {
    background-color: black;
    color: white;
    flex-grow: 1;
    text-align: center;
    height: 100%;
}

.product-options {
    display: flex;
    flex-direction: column;
    gap: var(--gap01);
}

.product-options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap01);
    justify-content: space-between;
}

.product-option-choice {
    display: flex;
    flex-direction: column;
    width: 100px;
    min-height: 100px;
    max-height: 150px;
    border: 1px solid black;
    border-radius: var(--radius);
}

.product-option-choice:hover,
.product-option-choice:focus {
    background-color: black;
    color: white;
}

.product-option-choice-content {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    object-fit: cover;
    height: 75px;
}

.product-option-choice-text {
    text-align: center;
    padding: var(--gap00);
}