<footer class="footer-container">
    <div class="footer-action">
        <div class="fb-section">
            <strong class="fb-title" [translate]="'pages.footer.policies'"></strong>
            <a routerLink="/privacy-policy" class="fb-item" [translate]="'pages.footer.privacyPolicy'"></a>
            <a routerLink="/terms-of-use" class="fb-item" [translate]="'pages.footer.termsOfUse'"></a>
        </div>
        <div class="fb-section">
            <strong class="fb-title" [translate]="'pages.footer.contactUs'"></strong>
            <a class="fb-item" href="mailto:contact@vss.com">contact&#64;vss.com</a>
            <a class="fb-item" href="tel:123-456-7890">123-456-7890</a>
            <div class="fb-item"></div>
        </div>
        <div class="fb-section">
            <strong class="fb-title" [translate]="'pages.footer.mission'"></strong>
            <div class="fb-item fb-mission" [translate]="'pages.footer.missionText'">
            </div>
        </div>
    </div>
    <div class="footer-rights fb-item">© 2025 VSS. All rights reserved</div>
</footer>