<div class="order-auth-container section-container">
    <h2 class="subtitle">Order details</h2>
    <p>To retrieve your order information please fill this form.</p>
    <form class="form">
        <div class="form-input-container">
            <label class="form-label" for="order-auth-number">Order number:</label>
            <input [(ngModel)]="orderNumber" type="text" placeholder="Order number" class="form-input" id="order-auth-number" name="order-auth-number" />
        </div>
        <div class="form-input-container">
            <label class="form-label" for="order-auth-postal-code">Postal code:</label>
            <input [(ngModel)]="postalCode" type="text" placeholder="Postal code" class="form-input" id="order-auth-postal-code" name="order-auth-postal-code" />
        </div>
    </form>
    <button class="button-container" (click)="authOrder()">Retrieve Order</button>
</div>