<div class="home-container">
    <div class="home-header">
        <a class="home-header-action" href="/">
            <img class="home-header-panel" src="assets/images/template00.jpg" />
        </a>
        <a class="home-header-action" href="/">
            <img class="home-header-panel" src="assets/images/template01.jpg" />
        </a>
    </div>

    <section class="home-section">
        <h1>Latest Trending Styles</h1>
        <div class="home-trending-container">
            @for (tag of trending; track $index) {
            <app-button-toggle [isSelected]="$index === 0" [text]="tag"></app-button-toggle>
            }
        </div>
        <div class="home-products-container">
            @for (product of products; track $index) {
            <app-product-list-item [product]="product"></app-product-list-item>
            }
        </div>
    </section>
</div>