.featured-products-container,
.featured-products-header {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.featured-products-header-action {
    height: 25vh;
    width: 100%;
    overflow: hidden;
}

.featured-products-header-panel {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured-products-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap02);
    margin: var(--gap02) auto;
    padding: 0 var(--gap02);
    max-width: var(--width-page);
}

.featured-products-trending-container,
.featured-products-products-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.featured-products-trending-container {
    gap: var(--gap00);
}

.featured-products-products-container {
    gap: var(--gap02);
    justify-content: space-around;
}