.product-item-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: var(--gap01);
}

.product-item-image {
    width: 150px;
    height: auto;
}

.product-item-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap00);
}